{#
/**
 * @file computrition_object.html.twig
 * Default theme implementation to present Computrition object data.
 *
 * This template is used when viewing Computrition object pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_computrition_object()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('computrition_object') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
